.profile-section {
  position: relative;
  height: fit-content;
  z-index: 100;
  &__greeting {
    position: relative;
    font-size: 7rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.2rem;
    background: linear-gradient(to right, #12c2e9, #5c3d99, #c670ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__about {
    font-size: 2.6rem;
    color: #cbd5e1;
    text-align: left;
    letter-spacing: 0.15rem;
    padding-top: 1.5rem;
    line-height: 1.3;

    p {
      margin-bottom: 0.3rem;
    }
  }
}
