.navbar-container {
  height: 15vh;
  font-family: "Bitter", cursive;
  color: #cbd5e1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;

  .logo-container {
    text-decoration: none;
    color: #cbd5e1;
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .logo {
      img {
        height: 5rem;
        width: auto;
      }
    }
  }

  .nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80%;
    width: 40%;

    .link {
      color: #c670ff;
      border: 0.3rem solid transparent;
      border-radius: 0.2rem;
      text-decoration: none;
      font-size: 2.4rem;
      font-weight: 400;
      height: 35%;
      display: grid;
      align-content: center;
      padding: 0rem 1.2rem;
      transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);

      &:hover {
        border-bottom: 0.3rem solid #c670ff;
        color: #c670ff;
        font-weight: 600;
      }
    }
  }
}
