body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Familjen Grotesk", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #050a18;
  overflow: hidden;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  overflow-y: scroll;
}

canvas.webgl {
  display: block;
  mix-blend-mode: exclusion;
}
